<fieldset>
    <form name='regForm' id="form">
        <input type="text" name="first_name" placeholder="First Name" ng-model="signUpController.first_name" required>
        <span ng-if="regForm.first_name.$invalid && regForm.first_name.$touched">
            Must enter your first name.
        </span>

        <input type="text" name="last_name" placeholder="Last Name" ng-model="signUpController.last_name" required>
        <span ng-if="regForm.last_name.$invalid && regForm.last_name.$touched">
            Must enter your last name.
        </span>

        <input type="email" name="email" placeholder="Email" ng-model="signUpController.email" required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format.
        </span>

        <input type="text" name="phone" placeholder="Phone ###-###-####" ng-model="signUpController.phone" pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
        </span>

        <input type="text" name="short_name" placeholder="Favorite Menu Item" ng-model="signUpController.short_name" required>
        <span ng-if="regForm.short_name.$invalid && regForm.short_name.$touched">
            Must enter your favorite menu item.
        </span>

        <button ng-click="signUpController.submit()" ng-disabled="regForm.$invalid">Submit</button>

        <span ng-if="signUpController.status == 200">Your information has been saved</span>
        <span ng-if="signUpController.status == 500">No such menu number exists</span>

    </form>
</fieldset>